{% extends "auth_base.html" %}
{% block title %}Set New Password{% endblock %}

{% block content %}
<section class="auth-form-wrapper">
  <div class="form-card">
    <header class="form-header">
      <h1 class="form-logo">AlexDev.</h1>
      <p>Set a New Password</p>
    </header>

    {% if messages %}
    <ul class="form-messages">
      {% for message in messages %}
        <li class="error">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
      </div>
      <div class="form-group">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
      </div>
      <button type="submit" class="submit-btn">Set Password</button>
    </form>
  </div>
</section>
{% endblock %}
